*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Otomanopee One", sans-serif;
  font-family: "Poppins", sans-serif;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #000;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color: #000;
}

input,
textarea {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 144rem;
  max-height: 144rem;
  margin: 0 auto;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn {
  display: inline-block;
  vertical-align: top;
  margin: 0.5rem;
  padding: 0.7rem 2.5rem;
  border-radius: 5rem;
  border: 0;
  cursor: pointer;
  font-family: "Otomanopee One", sans-serif;
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.btn--red {
  background-color: #e55d73;
}
.btn--red:hover {
  background-color: #e84545;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.modal__header {
  margin-bottom: 2.5rem;
  text-align: center;
  background-color: #fff;
}
.modal__inner {
  width: 40rem;
  padding: 2.5rem;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2156862745);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.2156862745);
}
.modal__title {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-family: "Otomanopee One", sans-serif;
  font-size: 2.4rem;
  color: #e84545;
  font-weight: 900;
  line-height: 120%;
}
.modal__title--th {
  font-family: "Otomanopee One", sans-serif;
  font-size: 4rem;
  border-bottom: 0.3rem solid #fff;
}
.modal__text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #2C2C2C;
}
.modal__footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.1rem solid #E8E8E8;
  text-align: center;
}
.modal__footer-title {
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #2C2C2C;
}
.modal__contacts {
  font-size: 1.5rem;
  color: #2C2C2C;
  font-style: normal;
}
.modal__contacts p {
  margin-bottom: 0.3rem;
}
.modal__contacts a {
  color: inherit;
  text-decoration: none;
}
.modal__contacts a a:hover {
  text-decoration: underline;
}
.modal__close {
  width: 1rem;
  height: 1rem;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.modal__close img {
  display: block;
  width: 2rem;
  height: 2rem;
}

.form__group {
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 3rem;
  background: none;
  border: 0.2rem solid #e84545;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #e84545;
  -webkit-transition: border 0.1s linear;
  transition: border 0.1s linear;
}
.input::-webkit-input-placeholder {
  color: #e84545;
}
.input::-moz-placeholder {
  color: #e84545;
}
.input:-ms-input-placeholder {
  color: #e84545;
}
.input::-ms-input-placeholder {
  color: #e84545;
}
.input::placeholder {
  color: #e84545;
}
.input:focus {
  outline: none;
  border: 0.2rem solid #e55d73;
}

.header {
  width: 100%;
  height: 17rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5rem;
}
.header__logo {
  margin: 3rem 1.5rem 3rem 10rem;
  width: 7rem;
  height: 6.2rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
}
.nav__link {
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
  text-decoration: none;
  margin-left: 6rem;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.nav__link::after {
  content: "";
  display: block;
  width: 1rem;
  height: 0.2rem;
  margin-top: 0.5rem;
  background-color: #fff;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.nav__link:hover {
  color: #fff;
}
.nav__link:hover::after {
  width: 100%;
  background-color: #fff;
}
.nav__link.active {
  color: #08498b;
}
.nav__link.active::after {
  content: "";
  display: block;
  width: 1rem;
  height: 0.2rem;
  margin-top: 0.5rem;
  background-color: #08498b;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.nav__link.active:hover {
  color: #08498b;
}
.nav__link.active:hover::after {
  width: 100%;
  background-color: #08498b;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #31344e url("../img/bg.jpg") center no-repeat;
  background-size: cover;
}
.intro__inner {
  width: 50rem;
  height: 43.2rem;
  margin: 0 20rem 0;
  text-align: left;
}
.intro__title {
  margin: 4rem 0 3rem;
  font-family: "Otomanopee One", sans-serif;
  font-size: 6.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  text-shadow: -0.3rem 0rem rgba(0, 0, 0, 0.8);
}
.intro__title p {
  font-size: 4.5rem;
  line-height: 50%;
}
.intro__subtitle {
  margin: 1rem 0;
  font-size: 3rem;
  line-height: 110%;
  color: #fff;
  font-weight: 400;
}
.intro__text {
  margin: 0.5rem 1.6rem 0.5rem 0;
  font-size: 2rem;
  line-height: 110%;
  color: #fff;
  font-weight: 400;
}
.intro img {
  width: 5rem;
  height: 5rem;
}
.intro__love {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 6.8rem;
  min-height: 7.1rem;
  padding-top: 1.8rem;
  font-family: "Otomanopee One", sans-serif;
  background: url("../img/heart.svg") no-repeat left 2.6rem top;
  font-size: 2rem;
  color: #fff;
  text-shadow: -0.3rem 0rem rgba(0, 0, 0, 0.8);
}

@media (max-width: 1200px) {
  .intro__list img {
    margin: 0 -4rem -5rem;
  }
  .intro__text {
    margin: 1rem 13.1rem 1rem 0;
  }
}
@media (max-width: 992px) {
  .intro__inner {
    height: 34.2rem;
  }
  .intro__title {
    margin: 1rem 0 auto;
  }
  .intro__subtitle {
    margin: 0.5rem;
  }
  .intro__list img {
    margin: 0 -4rem -4rem;
  }
  .intro__text {
    margin: 0.5rem 18.7rem 1rem 0;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 4rem;
    width: 100%;
  }
  .header__logo {
    margin: 3rem 1.5rem 3rem -3.5rem;
  }
  .intro__inner {
    height: 31.6rem;
    margin: 0 8.6rem 0;
  }
  .intro__text {
    font-size: 1.6rem;
  }
  .nav__link {
    margin-left: 4rem;
  }
  .modal__close img {
    width: 2rem;
    height: 2rem;
  }
  .modal__header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .modal__inner {
    width: 30rem;
    padding: 2.5rem;
  }
  .modal__title {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .modal__title--th {
    font-family: "Otomanopee One", sans-serif;
    font-size: 4rem;
    border-bottom: 0.3rem solid #fff;
  }
  .modal__text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  .modal__footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 0.2rem solid #E8E8E8;
  }
  .modal__footer-title {
    font-size: 1.4rem;
  }
  .modal__contacts {
    font-size: 1.2rem;
  }
  .form__group {
    margin-bottom: 0.5rem;
  }
  .input {
    height: 3.5rem;
    font-size: 1.4rem;
  }
  .btn {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  .header__inner {
    margin: 0.6rem;
  }
  .header__logo {
    margin: 3rem 1.5em 3rem -0.5rem;
  }
  .nav__link {
    font-size: 3rem;
    text-align: center;
    margin-left: 3.5rem;
  }
  .nav__link:nth-last-child(1) {
    margin-right: 0rem;
  }
  .intro {
    background: #31344e url(../img/bg.jpg) 10% center no-repeat;
    background-size: cover;
  }
  .intro__inner {
    width: 48.6rem;
    height: 35.8rem;
    margin: 0 4rem 30rem;
  }
  .intro__title {
    font-size: 8.5rem;
  }
  .intro__title p {
    font-size: 5.5rem;
  }
  .intro__subtitle {
    font-size: 5.5rem;
  }
  .intro__text {
    margin: 0.5rem 1rem 1rem 0.5rem;
    font-size: 3rem;
  }
  .intro__love {
    font-size: 5.5rem;
    margin: 1rem 12.8rem;
  }
  .modal__close img {
    width: 3rem;
    height: 3rem;
  }
  .modal__header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .modal__inner {
    width: 40rem;
    height: 65rem;
    padding: 4.5rem;
  }
  .modal__title {
    margin-bottom: 2rem;
    font-size: 2.6rem;
  }
  .modal__title--th {
    font-family: "Otomanopee One", sans-serif;
    font-size: 4.2rem;
    border-bottom: 0.3rem solid #fff;
  }
  .modal__text {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .modal__footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 0.2rem solid #E8E8E8;
  }
  .modal__footer-title {
    font-size: 1.7rem;
  }
  .modal__contacts {
    font-size: 1.5rem;
  }
  .form__group {
    margin-bottom: 0.5rem;
  }
  .input {
    height: 6rem;
    font-size: 1.8rem;
  }
  .btn {
    font-size: 2.1rem;
  }
}/*# sourceMappingURL=App.css.map */