$main-color-primary: #fff;
$main-color-secondary: #000;
$main-color-third: #08498b;
$color-btn-primary:#e55d73;
$color-btn-secondary: #e84545;
$color-contact: #2C2C2C;
$font-family-primary:('Otomanopee One', sans-serif);
$font-family-secondary: ('Poppins', sans-serif);
$breakpoint-extra-large-devices: 1200px;
$breakpoint-large-devices: 992px;
$breakpoint-medium-devices: 800px;
$breakpoint-small-devices: 450px;